body {
    font-family: 'Creepster', cursive;
    color:green;
    background-image: url("/images/yfluff.png");
}

/*.header{
  color: green;
}
a {
  color: #00B7FF;
}
#icons{
  display:block;
  padding: 40px;
  float:right;
  padding-left: 190px;
}*/