doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet")


  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') yang project
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/art') art
            li
              a(href='/health') health
            li
              a(href='/readme') read!
            li
              a(href='/runway') runway
            li
              a(href='/store') store edit
            li
              a(href='/bonus') shiny bonus
            li
              a(href='/createProfile') create profile
  .container
    block content

    footer
      .row
        .col-xs-12
          small dc1980
  script(src='/angular/angular.min.js')
  script(src='/angular/yangApp.js')
  script(src='/javascripts/jquery-1.11.2.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
