doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
        link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet")

    body
    .container
        block content

        footer
            .row
                .col-xs-12
                    small &copydc1980
    script(src='/javascripts/jquery-1.11.2.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/title.js')